* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

main {
  width: 600px;
  margin: 32px auto;
  border: 1px solid #dddddd;
}

main .messages-container {
  height: 400px;
  overflow: auto;
}

main .message {
  margin: 16px;
  padding: 12px;
  background: #2e2f44;
  color: white;
  font: 1.6rem Lato;
  border-radius: 8px;
}

#message-input {
  width: 100%;
  padding: 8px;
  font: 1.4rem Lato;
  border: 0;
  border-top: 1px solid #dddddd;
  outline: none;
}
