* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

/* * * * * * * * * * * * MAIN * * * * * * * * * * * */

#main > .settings-container {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #2e2f44;
  font-size: 2rem;
}

#main > main {
  width: 600px;
  margin: 32px auto;
  border: 1px solid #dddddd;
}

#main > main .messages-container {
  height: 400px;
  overflow: auto;
}

#main > main .message {
  margin: 16px;
  padding: 12px;
  background: #2e2f44;
  color: white;
  font: 1.6rem Lato;
  border-radius: 8px;
}

#message-input {
  width: 100%;
  padding: 8px;
  font: 1.4rem Lato;
  border: 0;
  border-top: 1px solid #dddddd;
  outline: none;
}

/* * * * * * * * * * * * SIGN IN * * * * * * * * * * * */

#sign-in > main {
    height: 100vh;
    min-height: 400px;
}

#sign-in > main h1 {
    margin: 0;
    padding-top: 32px;
    font: 900 4.2rem Lato;
    color: #2e2f44;
    text-align: center;
}

#sign-in > main > form {
    display: flex;
    flex-direction: column;
    height: calc(100% - 82px);
    align-items: center;
    justify-content: center;
}

#sign-in > main > form .row {
    display: flex;
    width: 500px;
    padding: 6px;
    justify-content: center;
}

#sign-in > main > form .row.submit {
    padding-top: 24px;
    padding-bottom: 16px;
}

#sign-in > main > form input:not([type=submit]) {
    width: 100%;
    border: 1px solid #dddddd;
    -webkit-transition: border-color .2s ease-out;
    -moz-transition: border-color .2s ease-out;
    -o-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}

#sign-in > main > form input:not([type=submit]):focus {
    border-color: #2e2f44;
}

#sign-in > main > form input[type=submit] {
    width: 30%;
    background: #d83f3f;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

#sign-in > main > form input[type=submit]:hover {
    background-color: #f56767;
}

#sign-in > main > form input {
    padding: 8px;
    font-family: Lato;
    border-radius: 8px;
    outline: none;
}

#sign-in > main p {
    margin: 0;
    font: 1.2rem Lato;
    color: #808080;
}

#sign-in > main a {
    color: #181818;
    text-decoration: none;
}

#sign-in > main a:hover {
    text-decoration: underline;
}
